<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.VETAI">

        <!-- MainActivity (Login) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- InicioActivity (Menú Principal) -->
        <activity
            android:name=".InicioActivity"
            android:exported="false" />

        <!-- RegistroActivity -->
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />

        <!-- CitasActivity -->
        <activity
            android:name=".CitasActivity"
            android:exported="false" />

        <!-- ListaCitasActivity -->
        <activity
            android:name=".ListaCitasActivity"
            android:exported="false" />

        <!-- 🐾 MASCOTAS 🐾 -->
        <activity
            android:name=".ListaMascotasActivity"
            android:exported="false"
            android:label="Mis Mascotas"
            android:parentActivityName=".InicioActivity" />

        <activity
            android:name=".RegistroMascotaActivity"
            android:exported="false"
            android:label="Registrar Mascota"
            android:parentActivityName=".ListaMascotasActivity" />

    </application>

</manifest>